.academic-training {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
}

.academic-training__content-container {
    min-width: 320px;
    margin: 0 8px;
}

.academic-training__heading-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.academic-training__span {
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    display: block;
}

.academic-training__heading {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.academic-training__paragraph {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
}

.academic-training__card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.academic-training__card {
    display: block;
    min-width: 359px;
    min-height: 436px;
    border-radius: 8px;
    border: 1px solid #DADADA;
    background-image: url(../images/danIt.png);
    background-repeat: no-repeat;
    background-size: 100% 64%;
    position: relative;
}

.academic-training__card-education {
    background-image: url(../images/danIt.png);
}

.academic-training__card-engineering {
    background-image: url(../images/image-2.png);
}

.academic-training__card-tomorrow {
    background-image: url(../images/image-3.png);
    margin-bottom: 64px;
    background-size: 100% 55%;
}

.academic-training__card-span {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
}

.academic-training__card-span-projector {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.academic-training__flex-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.academic-training__flex-wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 16px;
}

.academic-training__card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 24px 16px;
    box-sizing: border-box;
    max-width: 359px;
}

.academic-training__description {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    margin-bottom: 32px;
}

.academic-training__span-diploma {
    color: #0F8277;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
}

.academic-training__image {
    width: 20px;
    height: 20px;
    display: block;
}

@media (min-width:768px) {

    .academic-training {
        gap: 40px;
    }

    .academic-training__content-container {
        margin: 0 12px;
    }

    .academic-training__card-wrapper {
        display: flex;
        flex-direction: row;
        gap: 24px;
        max-width: 744px;
        margin-bottom: 64px;
    }


    .academic-training__card {
        min-width: 232px;
        min-height: 390px;
        background-size: 100% 51%;
    }

    .academic-training__description {
        margin-bottom: 42px;
    }

    .academic-training__description-education {
        margin-bottom: 20px;
    }

    .academic-training__card-tomorrow {
        background-image: url(../images/image-3.png);
        margin-bottom: unset;
    }

    .academic-training__flex-wrapper {
        margin-bottom: 16px;
    }

    .academic-training__card-content {
        max-width: 232px;
    }

}

@media (min-width: 1200px) {


    .academic-training__content-container {
        margin: 0 40px;
        max-width: 1368px
    }

    .section-container {
        max-width: 1296px;
        margin-right: auto;
        margin-left: auto;
    }

    .academic-training__heading-content {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .academic-training__span {
        font-size: 20px;
        line-height: 24px;
    }

    .academic-training__heading {
        font-size: 40px;
        line-height: 48px;
    }

    .academic-training__paragraph {
        font-size: 20px;
        line-height: 24px;
    }

    .academic-training__card-wrapper {
        max-width: 1296px;
        margin-bottom: 80px;
    }

    .academic-training__card {
        min-width: 416px;
        min-height: 480px;
    }

    .academic-training__card-content {
        max-width: 416px;
    }

    .academic-training__card-span,
    .academic-training__span-diploma {
        font-size: 16px;
        line-height: 19.2px;
    }

    .academic-training__description {
        margin-bottom: 77px;
        font-size: 24px;
        line-height: 28.8px
    }

    .academic-training__description-education {
        margin-bottom: 48px;
    }

}