.choose-plan {
    background-color: #DBF3ED;

}

.choose-plan__content-container {
    min-width: 320px;
    padding: 64px 8px 80px;
}

.choose-plan__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.choose-plan__heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 32px;
}

.choose-plan__card {
    padding: 32px;
    box-sizing: border-box;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
}

.choose-plan__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.choose-plan__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
}

.choose-plan__paragraph {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: center;
}

.choose-plan__wrapper-span {
    display: flex;
    gap: 16px;
    align-items: center;
}

.choose-plan__span-price {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.choose-plan__span {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-transform: uppercase;
}

.choose-plan__btn {
    width: 100%;
    padding: 10px 12px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #0F8277;
    font-family: Quicksand;
    color: #F6FDFF;
    font-size: 16px;
    font-weight: 500;
    border: none;
    margin-bottom: 32px;
}

.choose-plan__wrapper-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    border-top: 2px solid #0F8277;
    padding-top: 32px;
}

.choose-plan__description {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    padding-left: 31px;
    box-sizing: border-box;
}

.choose-plan__description::before {
    content: url(../images/vector-choose-plan.png);
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
    background: #0F8277;
    position: absolute;
    top: 32px;
    left: 0;
}

.choose-plan__description:last-of-type::before {
    top: 65px;
}

.choose-plan__card-monthly-payment {
    background: #0F8277;
}

.choose-plan__title-white {
    text-align: center;
}

.choose-plan__paragraph-white,
.choose-plan__span-price-white,
.choose-plan__span-white,
.choose-plan__description-white,
.choose-plan__title-white {
    color: #FFF;
}

.choose-plan__description-white::before {
    content: url(../images/vector-choose-plan-green.png);
    background: #FFF;
}

.choose-plan__description-white:nth-last-of-type(2)::before {
    top: 99px;
    background: #FFF;
}

.choose-plan__description-white:last-of-type::before {
    background: #FFF;
    top: 132px
}


.choose-plan__wrapper-description-white {
    border-top: 2px solid #FFF;
}

.choose-plan__btn-white {
    background: #0F8277;
    border: 2px solid #FFF;
}

.choose-plan__title-annual {
    text-align: center;
}

.choose-plan__description-annual::before {
    top: 33px;
}

.choose-plan__description-annual:nth-last-of-type(2)::before {
    top: 83px;
}

.choose-plan__description-annual:last-of-type::before {
    top: 134px;
}

@media (min-width:768px) {

    .choose-plan__content-container {
        padding: 64px 12px;
    }

    .choose-plan__wrapper {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .choose-plan__card {
        flex: 1;
        max-width: 232px;
        padding: 32px;
        box-sizing: border-box;
        border-radius: 24px;
        border: 1px solid #0F8277;
        background: #FDFDFD;
    }

    .choose-plan__card-monthly-payment {
        background: #0F8277;
    }

    .choose-plan__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .choose-plan__title {
        text-align: center;
    }

    .choose-plan__btn {
        width: unset;
        margin-bottom: 69px;
    }

    .choose-plan__description::before {
        content: url(../images/vector-choose-plan.png);
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        box-sizing: border-box;
        text-align: center;
        background: #0F8277;
        position: absolute;
        top: 32px;
        left: 0;
    }

    .choose-plan__description:last-of-type::before {
        top: 81px;
    }

    .choose-plan__description-white::before {
        content: url(../images/vector-choose-plan-green.png);
        background: #FFF;
    }

    .choose-plan__description-white:nth-last-of-type(2)::before {
        top: 149px;
        background: #FFF;
    }

    .choose-plan__description-white:last-of-type::before {
        background: #FFF;
        top: 215px
    }

    .choose-plan__btn-white {
        margin-bottom: 32px;
    }

    .choose-plan__btn-annual {
        margin-bottom: 67px;
    }

    .choose-plan__description-annual::before {
        top: 33px;
    }

    .choose-plan__description-annual:nth-last-of-type(2)::before {
        top: 98px;
    }

    .choose-plan__description-annual:last-of-type::before {
        top: 149px;
    }
}


@media (min-width: 1200px) {

    .choose-plan__content-container {
        max-width: 1368px;
        padding: 80px 36px;
    }

    .section-container {
        max-width: 1296px;
        margin-left: auto;
        margin-right: auto;
    }

    .choose-plan__heading {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 40px;
    }

    .choose-plan__card {
        max-width: 416px;
        padding: 56px;
    }

    .choose-plan__card-monthly-payment {
        background: #0F8277;
    }

    .choose-plan__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .choose-plan__title {
        font-size: 24px;
        line-height: 28.8px;
    }

    .choose-plan__paragraph {
        font-size: 16px;
        line-height: 19.2px;
    }

    .choose-plan__btn {
        width: unset;
        margin-bottom: 69px;
    }

    .choose-plan__description::before {
        content: url(../images/vector-choose-plan.png);
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        box-sizing: border-box;
        text-align: center;
        background: #0F8277;
        position: absolute;
        top: 32px;
        left: 0;
    }

    .choose-plan__description:last-of-type::before {
        top: 66px;
    }

    .choose-plan__description-white::before {
        content: url(../images/vector-choose-plan-green.png);
        background: #FFF;
    }

    .choose-plan__description-white:nth-last-of-type(2)::before {
        top: 99px;
        background: #FFF;
    }

    .choose-plan__description-white:last-of-type::before {
        background: #FFF;
        top: 132px
    }

    .choose-plan__btn-white {
        margin-bottom: 32px;
    }

    .choose-plan__btn-annual {
        margin-bottom: 55px;
    }

    .choose-plan__description-annual::before {
        top: 33px;
    }

    .choose-plan__description-annual:nth-last-of-type(2)::before {
        top: 82px;
    }

    .choose-plan__description-annual:last-of-type::before {
        top: 116px;
    }
}