.cooperate-with {

    box-sizing: border-box;
    background: #DBF3ED;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-sizing: border-box;
    margin-bottom: 64px;
}

.cooperate-with__content-container {
    padding: 64px 8px;
    box-sizing: border-box;
}

.cooperate-with__content {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.cooperate-with__heading {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.cooperate-with__img {
    display: flex;
    gap: 14px;

}

.cooperate-with__img-illinois {
    width: 118px;
    height: 24px;
}

.cooperate-with__img-google {
    width: 62px;
    height: 22px;
}

.cooperate-with__img-duke {
    width: 46px;
    height: 16px;
}

.cooperate-with__img-michigan {
    width: 33px;
    height: 33px;
}

.cooperate-with__img-imb {
    width: 36px;
    height: 14px;
}

.cooperate-with__img-penn {
    width: 75px;
    height: 24px;
}

.cooperate-with__img-college {
    width: 92px;
    height: 25px;
}

.cooperate-with__img-stanford {
    width: 92px;
    height: 25px;
}

@media (min-width:768px) {

    .cooperate-with__content-container {
        padding: 64px 12px;
    }
    .cooperate-with {
        gap: 40px;
    }

    .cooperate-with__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width: 1200px) {

    .cooperate-with__content-container {
        padding: 80px 36px;
        max-width: 1368px;
    }

    .section-container {
        max-width: 1296px;
    }

    .cooperate-with {
        gap: 60px;
    }

    .cooperate-with__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .cooperate-with__heading {
        margin: 0 auto;
        font-size: 40px;
        line-height: 48px;
        max-width: 871px;
    }
}