   .courses {
      display: flex;
      flex-direction: column;
      gap: 32px;
      margin-bottom: 64px;
  } 

  .courses__content-container {
      min-width: 320px;
      margin: 0 8px;
  }

  .courses__heading-content {
      display: flex;
      flex-direction: column;
      gap: 12px;
  }

  .courses__span {
      color: #0F8277;
      font-size: 16px;
      font-weight: 700;
      line-height: 19.2px;
      display: block;
  }

  .courses__heading {
      font-size: 30px;
      font-weight: 700;
      line-height: 36px;
  }

  .courses__paragraph {
      font-size: 16px;
      font-weight: 500;
      line-height: 19.2px;
  }

  .courses__cards-wrapper {
      display: flex;
      flex-direction: column;
      gap: 32px;
  }

  .courses__card {
      display: block;
      min-width: 359px;
      min-height: 436px;
      border-radius: 8px;
      border: 1px solid #DADADA;
      background-repeat: no-repeat;
      background-size: 100% 57%;
      position: relative;

  }

  .courses__card-design {
      background-image: url(../images/second-gallery1.png);
  }

  .courses__card-java {
      background-image: url(../images/second-gallery-2.png);
      background-size: 100% 52%;
  }

  .courses__card-qa {
      background-image: url(../images/second-gallery3.png);
  }

  .courses__card-marketing {
      background-image: url(../images/isecond-gallery4.png);
  }

  .courses__card-content {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 24px 16px;
      box-sizing: border-box;
      max-width: 359px;
  }

  .courses__logo {
      width: 72px;
      height: 20px;
      margin-bottom: 12px;
  }

  .courses__description {
      font-size: 18px;
      font-weight: 700;
      line-height: 21.6px;
      margin-bottom: 32px;
  }

  .courses__card-span-course {
      color: #0F8277;
      font-size: 14px;
      font-weight: 500;
      line-height: 16.8px;
  }

  .courses__card-span {
      display: block;
      font-size: 14px;
      font-weight: 500;
      line-height: 16.8px;
      margin-bottom: 16px;

  }

  .courses__cards-wrapper {
      gap: 40px;
  }

  .courses__span-more {
      color: #0F8277;
      font-size: 16px;
      font-weight: 700;
      line-height: 19.2px;
      position: relative;
      display: inline-block;

  }

  .course__link {
      margin: 0 auto 68px;
  }

  .courses__span-more::after {
      content: "";
      display: block;
      background-image: url(../images/arrow.png);
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      right: -28px;
      transform: translateY(-50%);
  }

  @media (min-width:768px) {
      .courses {
          gap: 40px;
      }

      .courses__content-container {
          margin: 0 12px;
      }

      .courses__cards-wrapper {
          display: flex;
          flex-direction: row;
          gap: 24px;
          max-width: 744px;
      }

      .courses__card {
          display: block;
          min-width: 168px;
          min-height: 436px;
          background-size: 100% 44%;
      }

      .courses__description {
          margin-bottom: 92px;
      }

      .courses__description-java {
          margin-bottom: 26px;
      }

      .courses__description-qa {
          margin-bottom: 70px;
      }
  }

  @media (min-width: 1200px) {
    .courses {
        display: block;
    }

      .courses__content-container {
          min-width: 1368px;
          margin: 0 auto;
      }

      .section-container {
          max-width: 1296px;
      }

      .courses__span {
          font-size: 20px;
          line-height: 24px;
      }

      .courses__heading {
          font-size: 40px;
          line-height: 48px;
      }

      .courses__paragraph {
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
      }

      .courses-wrapper {
          max-width: 1296px;
      }

      .courses__card {
          min-width: 306px;
          min-height: 480px;
          background-size: 100% 48%;
      }

      .courses__card-content {
          max-width: 306px;
      }

      .courses__card-span {
          font-size: 16px;
          line-height: 19.2px;

      }

      .courses__description {
          font-size: 24px;
          line-height: 28.8px;
          margin-bottom: 86px;
      }

      .courses__description-java {
          margin-bottom: 57px;
      }

      .courses__description-qa {
          margin-bottom: 86px;
      }

      .courses__description-smm {
          margin-bottom: 57px;
      }
  }