.featured-topics {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.featured-topics__content-container {
    min-height: 320px;
    margin: 0 8px;
}

.featured-topics__wrapper,
.featured-topics__flex-wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.featured-topics__wrapper {
    margin-bottom: 32px;
}

.featured-topics__heading {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.featured-topics-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px
}

.featured-topics_green-span {
    display: block;
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px
}

.featured-topics_numbers-span {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px
}

.featured-topics__container-left,
.featured-topics__container-right {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.featured-topics__link {
    display: block;
    margin: 0 auto;
}

.featured-topics__more {
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    position: relative;
    display: block;
    margin-bottom: 68px;

}

.featured-topics__more::after {
    content: "";
    display: block;
    background-image: url(../images/arrow.png);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: -28px;
    transform: translateY(-50%);
}

@media (min-width: 768px) {

    .featured-topics__content-container {
        margin: 0 12px;
    }

    .featured-topics {
        gap: 40px;
    }

    .featured-topics__container {
        display: flex;
        gap: 24px;
    }

    .featured-topics__wrapper {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .featured-topics__flex-wrapper {
        display: flex;
        gap: 24px;
    }

    .featured-topics__container-left,
    .featured-topics__container-right,
    .featured-topics__wrapper,
    .featured-topics__flex-wrapper {
        flex: 1;
    }

}

@media (min-width: 1200px) {

    .featured-topics__content-container {
        margin: 0 36px;
        max-width: 1368px
    }

    .section-container {
        max-width: 1296px;
    }


    .featured-topics__heading {
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
    }

    .featured-topics-title {
        font-size: 24px;
        line-height: 28.8px;
    }

    .featured-topics_green-span {
        font-size: 20px;
        line-height: 24px;

    }

    .featured-topics_numbers-span {
        font-size: 16px;
        line-height: 19.2px;
    }

    .featured-topics__container-left,
    .featured-topics__container-right {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

}