.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__content-container {
    min-width: 320px;
    padding: 64px 8px;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__heading {
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    line-height: 26.4px;
    letter-spacing: 0.44px;
}

.footer__paragraph {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: center;
}

.footer__wrapper-right {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__img-container {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.footer__span {
    display: block;
    margin-bottom: unset;
}

@media (min-width:768px) {

    .footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__content-container {
        padding: 32px 12px;
        box-sizing: border-box;
    }

    .footer__paragraph {
        text-align: start;
    }

    .footer__wrapper {
        max-width: 306px;
        align-items: flex-start;
    }

    .footer__wrapper-right {
        align-items: flex-end;
        max-width: 306px;
    }
}


@media (min-width: 1200px) {


    .footer__content-container {
        max-width: 1368px;
        padding: 64px 36px;
        margin: 0 auto;
    }

    .section-container {
        max-width: 1296px;
    }
    
    .footer__wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .footer__heading {
        font-size: 32px;
        line-height: 38.4px;
        letter-spacing: 0.44px;
    }
    
    .footer__paragraph,
    .footer__span {
        font-size: 16px;
        line-height: 19.2px;
    }
    
    .footer__wrapper-right {
        display: flex;
        flex-direction: column;
        gap: 65px;
    }
    
    }

