.form {
    background: #DBF3ED;
}

.form__content-container {
    min-width: 320px;
    padding: 64px 8px;
}

.form__heading {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 12px;
}

.form__paragraph {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    margin-bottom: 24px;
}

.form__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form__label {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.form__input-container {
    width: 359px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form__input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    margin-top: 8px;
}

.form__input::placeholder,
.form__textarea::placeholder {
    font-family: Quicksand;
    color: #8E8E8E;
    font-size: 14px;
    line-height: 24px;
    resize: none;
}

.form__textarea-container {
    gap: 0;
}

.form__textarea {
    resize: none;
    margin-top: 8px;
}

.form__input:focus,
.form__textarea:focus {
    border: 1.5px solid #2080F6;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
    outline: none;
}


.form__btn {
    padding: 10px 12px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #0F8277;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.64px;
    border: none;
    color: #F6FDFF;
}

.form__btn:hover {
    background-color: darkgreen;
}

@media (min-width:768px) {

    .form__content-container {
        padding: 64px 12px;
    }

    .form__container {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }


    .form__input-container {
        width: 744px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .form__input {
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #0F8277;
        background: #FDFDFD;
        margin-top: 8px;
    }

    .form__textarea-container {
        gap: 0;
    }

    .form__btn {
        max-width: 168px;
    }
}

@media (min-width: 1200px) {

    .form__content-container {
        max-width: 1368px;
        padding: 80px 0;

    }

    .form__container {
        max-width: 856px;
        margin-left: auto;
        margin-right: auto;
    }

    .form__heading {
        font-size: 40px;
        line-height: 48px;
        
    }

    .form__paragraph {
        font-size: 20px;
        line-height: 24px;
   
    }

    .form__label {
        font-size: 22px;
    }

    .form__input-container {
        width: 856px;
    }

    .form__input::placeholder,
    .form__textarea::placeholder {
        font-size: 16px;
    }

    .form__btn {
        max-width: 196px;
    }
}