.header {
    width: 100%;
    height: 38px;
}

.header__content-container {
    min-width: 320px;
    margin: 16px 8px; 
    display: flex;  
    justify-content: space-between;
    align-items: center; 

}

.header__left-wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__burger-menu {
    padding: 10px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #0F8277;
    border: none;
    width: 42px;
    height: 38px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;

}

.header__burger-menu:hover {
    background: darkgreen
}

.header__logo {
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    letter-spacing: 0.44px;
}

.header__right-wrapper {
    display: flex;
    gap: 16px;
}

.header__btn-frame,
.header__navigation,
.btn-explore,
.header__form {
    display: none;
}


.header__btn {
    font-family: Quicksand;
    color: #0F8277;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    padding: 10px 12px;
    box-sizing: border-box;
    border: none;
    background-color: white;
    cursor: pointer;
}

.header__btn:hover {
    background: darkgreen;
    border-radius: 4px;
}

.header__btn-green {
    color: #EEE;
    border-radius: 4px;
    background: #0F8277;
}

.header__btn-green:hover {
    background: darkgreen;
}


@media (min-width: 768px) {

    .header__content-container {
         margin: 16px 12px; 
    }

    .header__btn-frame {
        display: block;
        border-radius: 4px;
        background: #0F8277;
        border: none;
        width: 36px;
        height: 36px;
        cursor: pointer;
        margin-right: 32px;
        position: relative;
    }

    .header__image {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 4px;
    }

}

@media (min-width: 1200px) {


    .header__content-container {
        max-width: 1368px;
        margin: 31px 36px; 
    }

    .section-container {
        max-width: 1296px;
        margin-left: auto;
        margin-right: auto;
    }

    .header__left-wrapper {
        gap: 40px;
    }

    .header__right-wrapper .header__btn-frame {
        display: none;
    }

    .header__burger-menu {
        display: none;
    }

    .header {
        width: 100%;
        height: 39px;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: white;
    }


    .btn-explore {
        display: block;
        padding: 10px 12px;
        box-sizing: border-box;
        width: 98px;
    }

    .header__svg {
        padding-left: 8px;
    }

    .header__form {
        display: block;
        display: flex;
        max-width: 330px;
    }

    .header__input {
        min-width: 330px;
        border-radius: 4px;
        border: 1px solid #5C5C5C;
        color: #5C5C5C;
        padding-left: 12px;
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.2px
    }

    .header__input:focus {
        outline: none;
        border: 1.5px solid #2080F6;
    }

    .header__navigation {
        display: block;
        display: flex;
        gap: 48px;
    }

    .header__link {
        font-size: 16px;
        font-weight: 500;
        line-height: 19.2px
    }

}