.ideal-solution__content-container {
    min-width: 320px;
    margin: 64px 8px;
}

.ideal-solution__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.ideal-solution__heading {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.ideal-solution__paragraph {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
}

.ideal-solution__btn {
    border-radius: 4px;
    background: #0F8277;
    border: none;
    padding: 10px 12px;
    box-sizing: border-box;
    color: #EEE;
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    margin-bottom: 32px;
}

.ideal-solution__btn:hover {
    background: darkgreen;
}


.ideal-solution__buisness-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 66px);
}

.ideal-solution__logo {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ideal-solution__loreal img {
    width: 88px;
    height: 16px;
}

.ideal-solution__png img {
    width: 35px;
    height: 33px;
}

.ideal-solution__reliance img {
    width: 62px;
    height: 46px;
}

.ideal-solution__danone img {
    width: 77px;
    height: 24px;
}

.ideal-solution__tata img {
    width: 35px;
    height: 30px;
}

.ideal-solution__emirates img {
    width: 86px;
    height: 25px;
}

.ideal-solution__capgemini img {
    width: 77px;
    height: 18px;
}

.ideal-solution__circle img {
    width: 33px;
    height: 32px;
}

.ideal-solution__petrobras img {
    width: 86px;
    height: 16px;
}

.ideal-solution__loreal,
.ideal-solution__png,
.ideal-solution__danone,
.ideal-solution__tata {
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}

.ideal-solution__petrobras {
    border-left: 1px solid #BABABA;
    border-top: 1px solid #BABABA;
}

.ideal-solution__capgemini {
    border-right: 1px solid #BABABA;
}

.ideal-solution__reliance {
    border-bottom: 1px solid #BABABA;
}

@media (min-width:768px) {

    .ideal-solution__content-container {
        margin: 64px 12px;
    }

    .ideal-solution__buisness-container {
        align-content: center;
    }


    .ideal-solution__flex-wrapper {
        display: flex;
        gap: 24px;

    }

    .ideal-solution__btn {
        max-width: 118px;
    }
}

@media (min-width: 1200px) {

    .ideal-solution__content-container {
        margin: 80px 36px;
        max-width: 1368px
    }
    .section-container {
        max-width: 1296px;
    }
    
    .ideal-solution__wrapper {
        max-width: 636px;
       justify-content: center;
    }

    .ideal-solution__flex-wrapper {
        justify-content: space-between;
    }

    .ideal-solution__heading {
        font-size: 40px;
        line-height: 48px;
    }

    .ideal-solution__paragraph {
        font-size: 22px;
        line-height: 26.4px;
    }

    .ideal-solution__logo {
        padding: 10px;
    }

    .ideal-solution__loreal img {
        width: 150px;
        height: 27px;
    }

    .ideal-solution__png img {
        width: 62px;
        height: 62px;
    }

    .ideal-solution__reliance img {
        width: 111px;
        height: 80px;
    }

    .ideal-solution__danone img {
        width: 150px;
        height: 48px;
    }

    .ideal-solution__tata img {
        width: 63px;
        height: 57px;
    }

    .ideal-solution__emirates img {
        width: 151px;
        height: 42px;
    }

    .ideal-solution__capgemini img {
        width: 150px;
        height: 34px;
    }

    .ideal-solution__circle img {
        width: 61px;
        height: 60px;
    }

    .ideal-solution__petrobras img {
        width: 150px;
        height: 29px;
    }

    .ideal-solution__buisness-container {
        grid-template-rows: repeat(3, 136px);
        /* max-width: 588px; */
    }

    .ideal-solution__btn {
        margin-bottom: unset;
    }
}