.students-gallery__content-container {
    min-width: 320px;
    margin: 64px 8px;
}

.students-gallery__heading {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 32px;
}

.students-gallery__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.students-gallery__img {
    width: 100%;
    height: 100%;
}

.students-gallery__item-1 {

    grid-column: span 1;
    grid-row: span 1;
}

.students-gallery__item-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}

.students-gallery__item-3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.students-gallery__item-4 {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

.students-gallery__item-5 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.students-gallery__item-6 {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

.students-gallery__item-7 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.students-gallery__item-8 {
    grid-column: 1 / 2;
    grid-row: 6 /7;
}

.students-gallery__item-9 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.students-gallery__item,
.student-gallery__item-five {
    display: none;
}


@media (min-width:768px) {

    .students-gallery__content-container {
        margin: 64px 12px;
    }

    .students-gallery__heading {
        text-align: center;
        margin-bottom: 40px;
    }

    .students-gallery__images {
        grid-template-columns: repeat(4, 1fr);
        
    }

    .students-gallery__item-3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .students-gallery__item-4 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .students-gallery__item-5 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    .students-gallery__item-6 {
        grid-column: 4 / 5;
        grid-row: 3 / 4;
    }

    .students-gallery__item-7 {
        grid-column: 4/ 5;
        grid-row: 2 / 3;
    }

    .students-gallery__item-8 {
        grid-column: 4 / 5;
        grid-row: 1 /2;
    }

    .students-gallery__item-9 {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }
}


@media (min-width: 1200px) {

    .students-gallery__content-container {
        max-width: 1368px;
        margin: 80px 36px;
    }
    
    .section-container {
        max-width: 1296px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .students-gallery__heading {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 40px;
    }
}