body {
    font-family: 'Cabin', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Rochester', cursive;
    font-family: 'Urbanist', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

