.top-banner {
    min-width: 320px;
    min-height: 575px;
    border-radius: 12px;
    background: #DBF3ED;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    z-index: 2;
}

.top-banner__content-container {
    min-width: 320px;
    margin: 16px 8px 64px;
    box-sizing: border-box;
}

.top-banner__heading {
    font-size: 46px;
    font-weight: 700;
    line-height: 55.2px;
}

.top-banner__paragraph {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
}

.top-banner__btn {
    padding: 10px 12px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #0F8277;
    border: none;
    color: #EEE;
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    cursor: pointer;
}

.top-banner__btn:hover {
    background: darkgreen
}

.top-banner__btn-learn-more {
    background: #DBF3ED;
    border: 2px solid #0F8277;
    color: #0F8277;
}

.top-banner__flex-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.top-banner__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media (min-width:768px) {
 
    .top-banner {
        position: relative;
    }

    .top-banner__content-container {
        margin: 16px 12px 64px;
        padding-left: 64px;
        box-sizing: border-box;
    }

    .top-banner__heading {
        margin-bottom: 32px;
        position: relative;
        z-index: 2;
    }

    .top-banner__paragraph {
        margin-bottom: 32px;
        position: relative;
        z-index: 2;
    }

    .top-banner__flex-wrapper {
        flex-direction: row;
        margin-top: 0;
    }

    .top-banner__btn {
        width: 119px;
    }

    .top-banner__wrapper {
        display: block;
        max-width: 380px;
    }

    .top-banner__wrapper::after {
        content: "";
        background-image: url(../images/hero-img.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        width: 498px;
        height: 332px;
        position: absolute;
        top: 76px;
        right: -90px;
        z-index: 1;
    }
}

@media (min-width:1200px) {

    .main {
        margin-top: 91px;
    }

    .top-banner__content-container {
        max-width: 1368px;
        margin: 31px 36px 80px;
        padding-left: 110px;
    }

    .section-container {
        max-width: 1296px;
    }

    .top-banner {
        border-radius: 12px;
        background: #DBF3ED;
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: center;
        position: relative;

    }

    .top-banner__heading {
        width: 512px;
        z-index: -1;
    }

    .top-banner__paragraph {
        font-size: 22px;
        line-height: 26.4px;
    }

    .top-banner__wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
        max-width: 512px;
        margin-right: 6px;
    }

    .top-banner__wrapper::after {
        width: 800px;
        height: 533px;
        top: 28px;
        right: -187px;

    }
}